@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  border: 0;
  outline: none;
}

:root {
  --primary-bg: #212121;
  --secondary-bg: #292929;
  --primary-color: rgba(97, 86, 255, 0.664);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--secondary-bg);
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: var(--primary-bg);
}

.links a {
  color: #fff;
  font-size: 24px;
  margin-left: 30px;
  border-bottom: 2px solid transparent;
  transition: 200ms;
}

.links a:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

/* -----HOME----- */

.container {
  margin: 0 auto;
  margin-top: 40px;
  width: 1200px;
  background-color: var(--primary-bg);
  padding: 20px 64px;
  animation: up 1s;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  position: relative;
}

.card {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 16px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card .content p:first-child {
  color: var(--primary-color);
  font-size: 24px;
}

.btn-add {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #5dca59;
  color: white;
  font-size: 40px;
  margin-top: 200px;

  cursor: pointer;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

.btn-info,
.btn-delete {
  background-color: var(--primary-color);
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: aliceblue;
  cursor: pointer;
  font-weight: bold;
  filter: brightness(90%);
}

.btn-info:hover {
  filter: brightness(100%);
}

.btn-delete {
  background-color: firebrick;
}

.btn-delete:hover {
  filter: brightness(100%);
}

span,
.item-stack {
  padding: 10px;
  background-color: var(--secondary-bg);
  border: 1px solid transparent;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 8px 0 8px 0;
  text-align: center;
}

/* -----FORM----- */

input {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  padding: 8px 16px;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

input[type="submit"] {
  padding: 8px 32px;
  background-color: var(--primary-color);
  margin-top: 32px;
  font-size: 16px;
  cursor: pointer;
  color: aliceblue;
  width: 300px;
}

.form-container {
  background-color: var(--primary-bg);
  width: 800px;
  min-height: 400px;
  margin: 45px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
  animation: up 200ms ease-out;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container .item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.message-success {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #5dca59;
}

.user-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}
