{% extends 'partials/layout.njk' %}

{% block content %}
  <div class="form-container">
    <div class="random-img" style="background: url(https://source.unsplash.com/collection/145103/500x500) no-repeat center center / cover"></div>
    <form method="POST">
      <div class="item">
        <div>Nome:</div>
        <input type="text" name="name" placeholder="Digite seu nome">
      </div>
      <div class="item">
        <div>E-mail:</div>
        <input type="text" name="email" placeholder="Digite seu nome">
      </div>
      <div class="item">
        <div>Stack</div>
        <input type="text" name="languages" placeholder="NodeJS, React, ES6...">
      </div>
      <div class="item">
        <div>Imagem URL</div>
        <input type="url" name="avatar_url" placeholder="https... ">
      </div>
      <div class="item">
        <input type="submit" value="Adicionar">
      </div>
    </form>
  </div>

{% endblock content %}