{% extends 'partials/layout.njk' %}

{% block content %}
  <div class="form-container">
    <form method="POST">
      <div class="item">
        <div>Nome:</div>
        <input type="text" name="name" value="{{user.name}}">
      </div>
      <div class="item">
        <div>E-mail:</div>
        <input type="text" name="email" value="{{user.email}}">
      </div>
      <div class="item">
        <div>Stack</div>
        <input type="text" name="languages" value="{{user.languages}}">
      </div>
      <input type="submit" value="Adicionar">
    </form>

  </div>
{% endblock content %}