{% extends 'partials/layout.njk' %}

{% block content %}
  <div class="form-container">
    <form method="POST">
      <div class="item">
        <div>Nome:</div>
        <input type="text" name="name" placeholder="Digite seu nome">
      </div>
      <div class="item">
        <div>E-mail:</div>
        <input type="text" name="email" placeholder="Digite seu nome">
      </div>
      <div class="item">
        <div>Stack</div>
        <input type="text" name="languages" placeholder="NodeJS, React, ES6...">
      </div>
      <input type="submit" value="Adicionar">
    </form>
  </div>
{% endblock content %}