{% extends 'partials/layout.njk' %}

{% block content %}

  <div class="container">
    <div class="cards">
      {% for user in users %}
        <a href="/user/{{user.id}}">
          <div class="card">
            <div class="img">
              <img src="{{user.avatar_url}}" width="200px">
            </div>
            <div class="content">
              <p>{{user.name}}</p>
              <p>Stack:</p>
            </div>

            {% for language in user.languages %}
              <p class="item-stack">{{language}}</p>
            {% endfor %}
          </div>

        {% endfor %}

        <a href="/user/create">
          <button class="btn-add">+</button>
        </a>
      </a>

    </div>

  {% endblock content %}