{% extends 'partials/layout.njk' %}

{% block content %}

  <div class="container table-container">

    <button class="btn-info">
      <a href="/user/create">Adicionar</a>
    </button>

    <table width="100%">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Stack</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for user in users %}

            <td>
              <img src="{{user.avatar_url}}">
              {{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
              {% for language in user.languages %}
                <span>{{language}}</span>
              {% endfor %}
            </td>

            <td>
              <a href="/user/{{user.id}}">
                <button class="btn-info">Visualizar</button>
              </a>

            </td>
          </tr>

        {% endfor %}

      </tbody>
    </table>

  </div>

{% endblock content %}