{% extends 'header.njk' %}
{% block content %}

  {% for user in users %}
    <p>{{user.name}}
      -
      {{user.email}}
      -
      {% for language in user.languages %}
        {{language}}
      {% endfor %}
      -
      <a href="/user/{{user.id}}/edit">[ editar ]</a>
      <a href="/user/{{user.id}}">[ visualizar ]</a>

    </p>

  {% endfor %}

  <h1>Bem vindo!</h1>
{% endblock content %}