{% extends 'partials/layout.njk' %}

{% block content %}
  <div class="form-container">
    <div class="random-img" style="background: url({{avatar_url}}) no-repeat center center / cover"></div>
    <section class="user-info">
      <div class="item">
        <p>Nome:</p>
        {{name}}
      </div>
      <div class="item">
        <p>E-mail:</p>
        {{email}}
      </div>

      <div class="item">
        <p>Stack:</p>
        {% for language in languages %}
          <p class="item-stack">{{language}}</p>
        {% endfor %}

      </div>

      <div class="actions">
        <a href="/user/{{id}}/delete">
          <button class="btn-delete">Excluir</button>
        </a>
        <a href="/user/{{id}}/edit">
          <button class="btn-info">Editar</button>
        </a>
      </div>

    </section>

  </div>
</div>

{% endblock content %}