{% extends 'partials/layout.njk' %}

{% block content %}
  <div class="container">
    <h1>Informações de
      {{name}}
    </h1>

    <p>Principais linguagens:
      {{languages}}</p>

    <p>E mail:
      {{email}}</p>
    <a href="/user/{{id}}/delete">
      <button class="btn-delete">Excluir</button>
    </a>
    <a href="/user/{{id}}/edit">
      <button class="btn-info">Editar</button>
    </a>
  </div>
{% endblock content %}