{% extends 'partials/layout.njk' %}

{% block content %}
  <div class="container">
    <h1>Informações de
      {{name}}
    </h1>

    <p>Principais linguagens:
      {{languages}}</p>

    <p>E mail:
      {{email}}</p>
  </div>
{% endblock content %}