{% if edit %}
  <h1>Usuário editado com sucesso!</h1>
{% else %}
  <h1>Usuário adicionado com sucesso!</h1>
{% endif %}

<script>
  setInterval(() => {
    window.location.href = '/'
  }, 2000)
</script>